<html>
	<head>
            <link rel="stylesheet" href="client/view/Timeline.css"/>
            <link rel="stylesheet" href="client/view/Stage.css">
            
            <script src="frameworks/easelJs/easeljs-0.6.0.min.js.js"></script>
            <script src="frameworks/zepto/zepto-1.0.min.js"></script>

            <script src="frameworks/zepto/zepto.data.js"></script>
            <script src="frameworks/jqote2/jquery.jqote2.js"></script>
                       
            <script src="client/core/Class.js">  </script>
            <script src="client/core/Component.js">  </script>
            <script src="client/core/ObjectCollection.js">  </script>
            <script src="client/core/ArrayCollection.js">  </script>
            <script src="client/core/Model.js">  </script>            

            <script src="client/proxy/demoData.js">  </script>            
            <script src="client/proxy/Reader.js">  </script>                      
            
            <script src="client/model/Keyframe.js">  </script>     
            <script src="client/model/KeyframeCollection.js">  </script>     
            <script src="client/model/Shape.js">  </script>     
            <script src="client/model/Timeline.js">  </script>     
            
            <script src="client/view/Timeline.js">  </script>
            <script src="client/controller/Timeline.js">  </script>
            
            <script src="client/controller/Scene.js">  </script>
            
            <script src="client/scene/shape/HtmlElement.js">  </script> 
            <script src="client/scene/shape/Text.js">  </script> 
            <script src="client/scene/shape/Circle.js">  </script>            
            <script src="client/scene/shape/Rectangle.js">  </script>
            <script src="client/scene/Stage.js">  </script>

            <script src="client/movie/Movie.js">  </script>
            <script src="client/movie/Fetcher.js">  </script>
                        
            <script src="client/app.js">  </script>
	</head>

	<body style="">


            <div id="canvas-editor" style="height:200px">
                <div id="htmlExperement" style="z-index: 1; position: absolute; background-color: #00F; color:#FFF; width:50px; height:36px; padding: 5px; visibility: hidden;"> HTML </div>    
                <canvas id="canvas" width="900" height="200"></canvas>
            </div>



            <div id="timeline-wrapper">
                <div style="position: relative; height: 20px; width: 100px; background-color: #dcdcdc"></div>
                <div id="timeline-ruler">
                    <div class="timeline-ruler-pick">20</div>
                </div>
                <div id="timeline-editor"></div>
            </div>


            <b>Zoom</b> <input type="range" min="1" max="400" step="0.1" value="1" style="position: relative; width: 200px;">
            <input type="text" value="1" style="position: relative; width: 50px;">


            <script type="text/x-jqote-template" id="template-timeline-line">

                <!--TODO заменить дивы-линии на список?-->

                <div class="timeline-line">
                    <%= $.jqote( '#template-timeline-block', this ) %>
                </div>
            </script>


            <script type="text/x-jqote-template" id="template-timeline-block">
                <div class="timeline-block" style="left:<%=this.left%>px; width:<%=this.width%>px;"></div>
                <%= $.jqote( '#template-timeline-keyframe', this.keyframes ) %>
            </script>


            <script type="text/x-jqote-template" id="template-timeline-keyframe">
                <div class="timeline-limiter" style="left:<%=this%>px;"></div>
                <div class="timeline-keyframe" style="left:<%=this%>px;"></div>
            </script>
                

	</body>

</html>