/******************** TIMELINE STYLES **********************/

.timeline__editor {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin: 0px 0 0 2px;

    /* исключительно для бегунка */
    position: relative;
}


/* TIMELINE EDITOR HEAD */

.timeline__editor_head {
    position: relative;
    overflow: hidden;
}

.timeline__ruler_box {
    height: 22px;
    background-color: #dadada;
    background: -webkit-linear-gradient(bottom, #5e5e5e 10%, #8a8a8a 90%);
    background: -moz-linear-gradient(bottom, #5e5e5e 10%, #8a8a8a 90%);
    background: -ms-linear-gradient(bottom, #5e5e5e 0%,#8a8a8a 100%);
    background: -o-linear-gradient(bottom, #5e5e5e 0%,#8a8a8a 100%);
    background: linear-gradient(to top, #5e5e5e 0%,#8a8a8a 100%);
    overflow: hidden;
}

.timeline__ruler {
    position: relative;
}

.timeline__ruler_background {
    height: 22px;
    margin-top: -22px;
}

.timeline-panel-right__ruler__division {
    border-right: 1px solid #b2b2b2;
    width: 40px;
    height: 4px;
    margin: 18px 0 0 0;
    float: left;
}

.timeline-panel-right__ruler__division_half {
    border-right: 1px solid #b2b2b2;
    width: 40px;
    height: 6px;
    margin: 16px 0 0 0;
    float: left;
}

.timeline-panel-right__ruler__division_vertex {
    border-right: 1px solid #b2b2b2;
    width: 40px;
    height: 10px;
    margin: 12px 0 0 0;
    float: left;
    position: relative;
}
.timeline-panel-right__ruler__division_vertex__number {
    position: absolute;
    right: 0;
    margin: -4px -12px 0 0;
    font: 11px "Arial";
    color: #e4e4e4;
}

/**
* Блок на линейке таймлайна
*/
.timeline__ruler_tick {
    color: #fffae5;
    width: 100px;
    height: 20px;
    float: left;
    border-right: 1px solid gray;
    text-align: left;
    font-size: 0.6em;
    font-family: Tahoma;
}

/**
* Голова бегунка / область захвата мышью при перетаскивании
*/
.timeline__runner_head {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 6px;
    margin: 3px 0 0 -3px;
    background-color: #DED300;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAATCAYAAACz13xgAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAWOwAAFjsBpM94xAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB8SURBVBiV7cw7DoJQGETh818oqaiUtVm4AEo7Qy4kBDsLN2Dj1sBHYkFiQoEwFhQ0mLgApzxfMiYJAK5FhehJvAcwScatOPFuUywAF5WsfWaq8zPDY8vzAhZCvIEwPpjqvbgfYeymSxfBaodDwxwBxtfkfNkffgdTk2sJPhpfKbIo1LZhAAAAAElFTkSuQmCC") left top no-repeat;
}

/* END TIMELINE EDITOR HEAD */


/* TIMELINE EDITOR BODY */

.timeline__editor_body {
    height: 300px;
    overflow: scroll;
    background-color: #dadada;
    position: absolute;
    width: 100%;
}

.timeline__editor_body_box {
    display: table;
    width: 100%;
    height: 100%;
}

/**
 * Линия редактора таймлайна
 */
.timeline__line {
    height: 18px;

    /* TODO Пока так. Как должно быть https://webdav.yandex.ru/inkscape-amix20.png */
    background-color: #dadada;

    /* TODO Этот стиль под вопросом */
    border-bottom: 1px solid #b2b2b2;
    padding: 2px 0;
}

/**
 * Свойство/блок на линии в редакторе таймлайна
 */
.timeline__property {
    /*border-top: 1px solid #4682b4;*/
    /*border-bottom: 1px solid #4682b4;*/
    height: 18px;
    margin: 0;
    background-color: #a3b852;
    display: inline-block;
    position: absolute;
}

/**
 * Выделенное свойство/блок
 */
.timeline__property_select {
    background-color: #7a9900;
}


/**
 * Ключевой кадр блока на линии в редакторе таймлайна
 */
.timeline__keyframe {
    width: 6px;
    height: 6px;
    background-color: #545454;
    margin-left: -4px;
    margin-top: 5px;
    border: 1px solid #ebebeb;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
}
.timeline__keyframe__start {
    position: absolute;
    width: 5px;
    height: 14px;
    margin-left: 3px;
    margin-top: -4px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAOCAYAAADnqNYmAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAdHQAAHR0BuLam0AAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADWSURBVBiVYzg0mzHt////DMiYiZmZqe7YAjYtBiTAxMPN/puLk2PWgVmMrHBBBob/DGKiwlZ8fHz9cEFGBgYGZmYmRjEx8agzy/j9oSoZGBkYGBh4efkEBQSFWw/MYhRiYWBk+A/TJi2jqP3z568FcJUM/6FyjIzsTDAxBgYGhmdPH9x49+ZFLBNM4POXzx/ev39TY5v8+xULAwMD49+///6/evVmmUnkx7UMDAwMLAwMDAyvXr89+unT53yYLpbPX38yMfxnSnZI+/8HbvihOUwJ6AECAAIDVmu4oCjyAAAAAElFTkSuQmCC") left top no-repeat;
}
.timeline__keyframe__end {
    position: absolute;
    width: 5px;
    height: 14px;
    margin-left: -2px;
    margin-top: -4px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAOCAYAAADnqNYmAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAdEQAAHREBY8EppwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADISURBVBiVY/z//z8DMjg8hymREVnw2Hw2bQaGfzvhggdmMbLy8/MeZGb8I8kEU8XLyzdZXFTIgoGBgYGJgYGB4fRSvmBxcfEwZmZmRkYGBgamA7MYRQUEhZt5eXgFoZoYmYRFJBfJyCppwm1jZPjPxMTMDDcXrvLdmxexz54+vP4fSSmTbfLvV+/fv6798uXLB5gwEwMDA4NJ5Me1r169XPr379//DAwMjCww2U+fPhYwMf3TZWZkkEf3phoj4//djBgBMpc5AQAC4ERb6V7VIAAAAABJRU5ErkJggg==") left top no-repeat;
}


/**
* Бегунок
*/
.timeline__runner_body {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-left: -1px;
    background-color: #ffcc00;
    width: 2px;
}

/* END TIMELINE EDITOR BODY */


.minimized {
    display: none;
}

.disabled {
    opacity: 0.5;
}

/******************** END TIMELINE STYLES **********************/
