

#timeline-editor {
    border: 2px solid blue;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0;
    height: 200px;
    width: 800px;
    overflow: auto;
}


.timeline-line {
    border-bottom: 1px solid #deb887;
    height: 20px;
    width: 100%;
    margin: 0 0 5px 0;
}


.timeline-object {
    height: 20px;
    position: relative;
    margin: 0;
}