/**
 * Контейнер таймлайна
 */
#timeline-wrapper {
    position: relative;
    border: 2px solid blue;
    width: 800px;
}


/**
 * Непосредственно редактор (так, где можно двигать блоки)
 */
#timeline-editor {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0;
    height: 200px;
    overflow: auto;
}


/**
 * Линия редактора таймлайна
 */
.timeline-line {
    border-bottom: 1px solid #deb887;
    position: relative;
    height: 20px;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0;
    padding: 2px 0;
}


/**
 * Блок на линии в редакторе таймлайна
 */
.timeline-block {
    border-top: 1px solid #4682b4;
    border-bottom: 1px solid #4682b4;
    height: 18px;
    position: relative;
    margin: 0;
    top: 0px;
    background-color: #87cefa;
}


/**
 * Ключевой кадр блока на линии в редакторе таймлайна
 */
.timeline-keyframe {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #4682b4;
    top: 8px;
    margin-left: -4px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/**
 * Линия-разделитель . Отделяет (визуально) один ключевой кадр внутри
 * блока на линии в редакторе таймлайна от другого
 */
.timeline-limiter {
    position: absolute;
    top: 2px;
    width: 1px;
    height: 20px;
    background-color: #4682b4;
}


/**
 * Линейка таймлайна
 */
#timeline-ruler {
    background-color: #ffe4b5;
    position: relative;
    height: 20px;
    overflow: hidden;
}


/**
* Блок на линейке таймлайна
*/
.timeline-ruler-pick {
    width: 100px;
    height: 20px;
    float: left;
    border-right: 1px solid gray;
    text-align: left;
    font-size: 0.6em;
    font-family: Tahoma;
}
